In [1]:
import pandas as pd
#import matplot

In [2]:
file = "Resources/Crime_Data_LA_from_2010_to_Present.csv"

crime_df = pd.read_csv(file)
crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,AA,Adult Arrest,900.0,NaN,NaN,NaN,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,IC,Invest Cont,946.0,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,IC,Invest Cont,900.0,998.0,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,IC,Invest Cont,122.0,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [3]:
crime_df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [4]:
crime_df.shape

(2109752, 28)

In [5]:
crime_df["Crm Cd Desc"].nunique()

141

In [7]:
# crime_counts = crime_df.groupby("Crm Cd Desc")
# count= crime_counts.value_counts
# crime_df['count']=

In [8]:
crime_df.count()

DR_NO             2109752
Date Rptd         2109752
DATE OCC          2109752
TIME OCC          2109752
AREA              2109752
AREA NAME         2109752
Rpt Dist No       2109752
Part 1-2          2109752
Crm Cd            2109752
Crm Cd Desc       2109752
Mocodes           1882297
Vict Age          2109752
Vict Sex          1913234
Vict Descent      1913187
Premis Cd         2109699
Premis Desc       2109567
Weapon Used Cd     709393
Weapon Desc        709392
Status            2109749
Status Desc       2109752
Crm Cd 1          2109742
Crm Cd 2           138757
Crm Cd 3             3474
Crm Cd 4              104
LOCATION          2109752
Cross Street       354968
LAT               2109752
LON               2109752
dtype: int64

In [21]:
crime_2 = crime_df.loc[:,['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME', 
                          'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes', 
                          'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc', 
                          'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'LOCATION', 'Cross Street', 'LAT', 
                          'LON']]
crime_2

crime_df_2=pd.DataFrame(crime_2)
crime_df_2.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,...,501.0,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,300 E GAGE AV,NaN,33.9825,-118.2695
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,101.0,STREET,NaN,NaN,IC,Invest Cont,SEPULVEDA BL,MANCHESTER AV,33.9599,-118.3962
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,...,103.0,ALLEY,NaN,NaN,IC,Invest Cont,1300 E 21ST ST,NaN,34.0224,-118.2524
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,...,101.0,STREET,102.0,HAND GUN,IC,Invest Cont,CAHUENGA BL,HOLLYWOOD BL,34.1016,-118.3295
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",...,103.0,ALLEY,400.0,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,8TH ST,SAN PEDRO ST,34.0387,-118.2488

In [23]:
crime_df_2.count()

DR_NO             2109752
Date Rptd         2109752
DATE OCC          2109752
TIME OCC          2109752
AREA              2109752
AREA NAME         2109752
Rpt Dist No       2109752
Part 1-2          2109752
Crm Cd            2109752
Crm Cd Desc       2109752
Mocodes           1882297
Vict Age          2109752
Vict Sex          1913234
Vict Descent      1913187
Premis Cd         2109699
Premis Desc       2109567
Weapon Used Cd     709393
Weapon Desc        709392
Status            2109749
Status Desc       2109752
LOCATION          2109752
Cross Street       354968
LAT               2109752
LON               2109752
dtype: int64